.inputs{
    border : none;
    border-bottom: 1px solid #121212;
    color:#121212 ;
    background: transparent;
    width: 25px;
    text-align: center;
    appearance: none;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-size: 1.2rem;
}
.inputs:focus{
    border-bottom: 2px solid blue;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}